<div *ngIf="isLoaded">
	<h2>Drag and Drop teams:</h2>
	<div class="row marketing" >
		<div class="col-md-3">
			<div  *ngFor="let team of allTeams">
				<span class="team-card" draggable="true" (dragstart)="drag($event, team)">{{ team }}</span>
			</div>
		</div>
		<div class="col-md-9 ">
			<div class="drop_zone" [formGroup]="form">
				<table class="table"  formArrayName="matches">
          <tr>
            <th width="15%">Home Team</th>
            <th width="15%">Away Team</th>
            <th>Home Victory</th>
            <th>Draw</th>
            <th>Away Victory</th>
            <th>Over 2.5</th>
            <th>Under 2.5</th>
          </tr>
					<tr *ngFor="let match of form.get('matches').controls; let i = index;" [formGroupName]="i" class="match">
						<td >
							<div *ngIf="!form.get('matches').get(i.toString()).get('homeTeam').value" (dragover)="dragOver($event)" (drop)="drop($event, 'homeTeam', i)" class="drop-div">
								<input class="form-control"
                       id="dyed_available_stock"
                       type="hidden"
                       formControlName="homeTeam">
							</div>
              <div *ngIf="form.get('matches').get(i.toString()).get('homeTeam').value">
                {{ form.get('matches').get(i.toString()).get('homeTeam').value }}
              </div>
						</td>
						<td >
							<div *ngIf="!form.get('matches').get(i.toString()).get('awayTeam').value" (dragover)="dragOver($event)" (drop)="drop($event, 'awayTeam', i)" class="drop-div">
									<input class="form-control"
                         id="dyed_city"
                         type="hidden"
                         formControlName="awayTeam">
							</div>
              <div *ngIf="form.get('matches').get(i.toString()).get('awayTeam').value">
                {{ form.get('matches').get(i.toString()).get('awayTeam').value }}
              </div>
						</td>
            <td>  {{ form.get('matches').get(i.toString()).get('homeWin').value | number:'1.2-2' }} %</td>
            <td>  {{ form.get('matches').get(i.toString()).get('draw').value | number:'1.2-2' }} %</td>
            <td>  {{ form.get('matches').get(i.toString()).get('awayWin').value | number:'1.2-2' }} %</td>
            <td>  {{ form.get('matches').get(i.toString()).get('over').value | number:'1.2-2' }} %</td>
            <td>  {{ form.get('matches').get(i.toString()).get('under').value | number:'1.2-2'  }} %</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
